.button-edit {
  background: transparent;
  color: #e8d191 !important;
  border: none;
}

.menuCard {
  background-color: rgba(22, 4, 4, 0.95) !important;
  width: 100%;
  height: 150px !important;
  border-radius: 20px !important;
  color: #e8d191 !important;
  overflow: hidden;
}

.menuImage {
  width: 100%;
  max-width: 400px;
}

.menuImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.foodPrice {
  color: #730014;
  font-family: 'Nunito';
}

@media (max-width: 990px) {
  .menuImage {
    width: 100%;
    max-width: 300px;
  }

  .menuCard {
    height: 120px !important;
  }

  .menuText h5 {
    font-size: 18px !important;
  }

  .menuText {
    font-size: 14px !important;
  }
}

@media (max-width: 767px) {
  .menuImage {
    width: 100%;
    max-width: 200px;
  }

  .menuCard {
    height: 100px !important;
  }

  .menuText h5 {
    font-size: 16px !important;
  }

  .menuText {
    font-size: 12px !important;
  }
}

@media (max-width: 500px) {
  .menuImage {
    width: 100%;
    max-width: 150px;
  }

  .menuCard {
    height: 100px !important;
  }

  .menuText h5 {
    font-size: 14px !important;
  }

  .menuText {
    font-size: 10px !important;
  }
}
