.icon-cart {
    width: 40px;
    height: 40px;
    stroke: #000;
  }
  
  .icon-cart:hover {
    cursor: pointer;
  }
  .container-icon {
    position: relative;
  }

.container-cart-products {
    display: none;
}
.container-cart-icon:hover .container-cart-products {
    display: block; 
    position: absolute;
    bottom: 0;
    color: #E8D191;
    background-color: #4D000D;
    border: solid 1px; 
    width: 180%;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

  
  .cart-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  .info-cart-product {
    display: flex;
    justify-content: space-between;
    flex: 0.8;
  }
  
  .titulo-producto-carrito {
    font-size: 20px;
  }
  
  .precio-producto-carrito {
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
  }
  
  .cantidad-producto-carrito {
    font-weight: 400;
    font-size: 20px;
  }
  
  .icon-close {
    width: 25px;
    height: 25px;
  }
  
  .icon-close:hover {
    stroke: red;
    cursor: pointer;
  }
  
  .cart-total {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
  }
  
  .cart-total h3 {
    font-size: 20px;
    font-weight: 700;
  }
  
  .total-pagar {
    font-size: 20px;
    font-weight: 900;
  }
  
  .hidden-cart {
    display: none;
  }