/* CardMenu.css */

.menuCard {
  background-color: #160404;
  border-radius: 40px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  max-width: 900px;
}

.menuText {
  color: #fff;
  width: 100%;
  font-size: 14px;
}

.foodInfo {
  max-height: 53px;
  overflow: hidden;
  font-size: 10px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  flex-grow: 1;
}

.menuImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Media Queries */
/* @media screen and (min-width: 768px) {
  .menuText {
    width: 70%;
  }
}

@media screen and (min-width: 990px) {
  .menuCard {
    height: 9rem;
  }

  .menuText h5 {
    font-size: 16px;
  }

  .menuText {
    font-size: 14px;
  }

  .foodInfo {
    font-size: 8px;
  }
}

@media screen and (min-width: 768px) and (max-width: 990px) {
  .menuCard {
    height: 7.3rem;
  }

  .menuText h5 {
    font-size: 14px;
  }

  .menuText {
    font-size: 12px;
  }

  .foodInfo {
    font-size: 6px;
  }
} */
