
.switch-checkbox input:checked ~ span::after {
  background-color: green;
  transform: scale(1.2) translate(33px);
}

.switch-checkbox input:checked ~ span .on {
  transform: translate(40px);
  opacity: 1;
}

.switch-checkbox input:checked ~ span .off {
  transform: translate(40px);
  opacity: 0;
}

.switch-checkbox input {
  display: none;
}

.switch-checkbox span {
  display: inline-block;
  width: 60px;
  height: 30px;
  border-radius: 30px;
  background: rgba(52, 44, 44, 0.95);
  cursor: pointer;
  box-shadow: inset 0px 0px 2px black;
  position: relative;
}

.switch-checkbox span::after {
  content: "";
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 30px;
  transform: scale(1.2);
  background: #730014;
  transition: 0.5s ease;
  box-shadow: inset 0px 0px 2px rgb(30, 28, 28);
}

.check-icon {
  position: absolute;
  left: 6px;
  top: 7px;
  z-index: 1;
  transition: 0.5s ease;
}

.switch-checkbox .on {
  opacity: 0;
  left: 6px;
  top: 7px;
}

.switch-checkbox .off {
  opacity: 1;
  left: 6px;
  top: 7px;
}