button {
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 100%;
    border-radius: 40px !important;
    padding: 1em;
    border: none;
    background: #730014;
    outline: none;
    color: #e8d191;
  }
  
  button:hover {
    transition: 400ms ease;
    background: #54000e;
  }
  
  button .overlay {
    position: absolute;
    background: #fff;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.5;
    width: 1750px;
    height: 1750px;
    animation: blink 1.5s ease-out forwards;
    border-radius: 50%;
  }
  
  @keyframes blink {
    0% {
      transform: translate(-50%, -50%) scale(0);
      opacity: 0.5;
    }
  
    100% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 0;
    }
  }
  