.menuSec {
  background-color: #4d000d;
  min-height: 100vh;
}

.menuSec h1 {
  color: #e8d191;
}

.menuCard {
  background-color: #160404;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  height: 115px;
}

.cardContainer {
  display: flex;
  justify-content: center;
  background-color: #160404;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.44) 0%,
      rgba(0, 0, 0, 0.44) 100%
    ),
    lightgray 50% / cover no-repeat;
}

.modal-content {
  background-color: rgba(0, 0, 0, 0) !important;
  margin-top: 8rem;
  border: none !important;
}

.menuText {
  color: #fff;
  width: 70%;
}

.foodImage {
  object-fit: cover;
  border-radius: 50%;
}

.foodTitle {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex-grow: 1;
  margin-top: 4px;
}

.foodInfo {
  max-height: 50px;
  max-width: 80%;
  overflow: hidden;
  font-size: 14px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  flex-grow: 1;
  margin: 0;
}

.menuImage {
  width: 30%;
}

.menuImage img {
  width: 100%;
  height: 115px;
  object-fit: cover;
}

.card-body {
  background-color: #33000a;
  border: none;
  filter: brightness(1.2);
}

.foodInfo {
  color: #a5a5a5;
}

.foodPrice {
  color: #730014;
}

.menuText h5,
.menuText p {
  margin: 0;
}

.card-text {
  color: #a5a5a5;
}

.card-body h5 {
  color: #fff;
  font-size: 23px;
  line-height: normal;
  border: none;
}

/* SEPARANDO */
@media screen and (max-width: 767px) {
  /* CARD-MENU */

  .menuCard {
    background-color: #160404;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    height: 115px;
  }

  .menuText {
    color: #fff;
    width: 70%;
  }

  .foodInfo {
    max-height: 53px;
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    flex-grow: 1;
  }

  .menuText {
    color: #a5a5a5;
  }

  .menuImage {
    width: 30%;
  }

  .menuImage img {
    width: 100%;
    height: 115px;
    object-fit: cover;
  }

  /* MODAL-MENU */
  .btn-close {
    background-color: #ca0c2b;
  }

  .scrollText {
    max-height: 130px;
    overflow: auto;
  }

  .customBtnModal {
    width: 70%;
    background-color: #730014;
    color: #e8d191;
    border: none;
    border-radius: 40px;
    font-size: 23px;
  }

  .customModal img {
    object-fit: cover;
    height: 180px;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .menuText h5,
  .menuText p {
    margin: 0;
  }

  .customBtnModal {
    width: 70%;
    background-color: #730014;
    color: #e8d191;
    border: none;
    border-radius: 40px;
    font-size: 23px;
  }

  .customModal img {
    object-fit: cover;
    height: 250px;
    width: 100%;
  }

  .scrollText {
    max-height: 150px;
    overflow: auto;
  }

  .foodInfo {
    max-height: 50px;
    max-width: 80%;
    overflow: hidden;
  }
}

@media (min-width: 992px) {
  .componentContainer {
    flex-wrap: wrap;
    width: 43%;
  }
}
