.modal-content {
  margin-top: 8rem !important;
}

.customModal {
  margin-bottom: 1px;
  margin-left: 3px;
  border-radius: 0;
  border: none !important;
}

.card-img-top {
  object-fit: cover;
  height: 180px !important;
  width: 100%;
}

.card-body {
  background-color: #33000a;
  border: none;
  filter: brightness(1.2);
  color: #e8d191 !important;
}

.btn-close {
  position: absolute;
  font-size: 16px;
  color: #000 !important;
}

.btn-edit {
  font-family: 'Nunito';
  display: inline-block;
  border-radius: 20px !important;
  padding: 1em;
  border: none;
  background: #554b4d;
  outline: none;
  color: #e8d191;
}

.btn-delete {
  font-family: 'Nunito';
  display: inline-block;
  border-radius: 20px !important;
  padding: 1em;
  border: none;
  background: #730014;
  outline: none;
  color: #e8d191;
}

.btn-edit:hover {
  transition: 400ms ease;
  background: #6e6365;
}

.btn-delete:hover {
  transition: 400ms ease;
  background: #54000e;
}