.title {
  border-radius: 40px;
  background: rgba(22, 4, 4, 0.95);
  padding: 1rem;
  box-sizing: border-box;
}

.logo {
  width: 130px;
  height: auto;
  margin-right: 10px;
}

h1 {
  font-weight: 400 !important;
  margin: 0;
  white-space: nowrap;
  font-size: 2rem !important;
  text-decoration-line: underline;
}

@media (max-width: 600px) {
  .title {
    flex-wrap: wrap;
  }
  h1 {
    font-size: 1.5rem !important;
  }
}
