section {
  background-color: #4d000d;
  /* height: 100vh; */
  overflow-x: hidden;
}

.contactSec {
  text-align: center;
  position: relative;
}

.contactSec h2 {
  display: inline-block;
  position: relative;
  color: #e8d191;
  font-family: "TAN - PEARL";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contactSec h2::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 125%;
  border-bottom: 2px solid #e8d191;
  transform: translateX(-50%);
}

.formContact {
  background-color: #160404;
  border-radius: 40px;
  margin: 0 auto;
  width: 359px;
  height: 523px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.formContact .titleForm {
  color: #e8d191;
  text-align: center;
  font-family: "TAN - PEARL";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 12px;
}

.formGroup {
  position: relative;
  margin-bottom: 16px;
  margin: 0 auto;
  width: 75%;
}

.formGroup::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  border-bottom: 2px solid #e8d191;
  transform: translateX(-50%);
}

label {
  display: block;
  margin-bottom: 8px;
  color: #e8d191;
}

textarea {
    resize: none;
}

input,
textarea {
  width: 100%;
  /* padding: 8px; */
  border: none;
  background-color: transparent !important;
  color: #e8d191;
  margin-bottom: 8px;
}

input::placeholder,
textarea::placeholder {
  color: #e8d191;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input:focus,
textarea:focus {
  outline: none;
}


.customFormBtn {
  background-color: #730014;
  text-decoration: none;
  width: 280px;
  height: 58px;
  color: #e8d191;
  border-radius: 48px;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 16px;
  transition: all 0.2s ;
  border: none;

&:active {
    background-color: #460913;
}
}

.formContact p {
  font-size: 16px;
  text-align: start;
}
