/* @font-face {
  font-family: "Nunito";
  src: url(../../../assets/fonts/Nunito/Nunito-VariableFont_wght.ttf);
} */

.nav {
  font-family: "Nunito";
  font-size: 18px;
}

.nav-link {
  text-decoration: none !important;
  color: #e8d191 !important;
}

.nav-link.active {
  font-weight: 700;
}

.nav-underline .nav-link {
  padding-right: 0;
  padding-left: 0;
  border-bottom: 2px solid !important;
  transition: 200ms ease;
  transform: translateY(-10%);
}

.nav-underline .nav-link.active {
  border-bottom: 4px solid !important;
  border-radius: 1px;
  transform: translateY(0);
}

.buttonEditUser {
  position: relative;
  right: 70px;
  bottom: 8px;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: inherit;
  overflow: hidden;
  border: none;
  outline: none;
  color: #e8d191;
  font-size: 24px;
}

.buttonEditUser:active {
  transition: 400ms ease;
  color: #160404f2;
}

.btnLogout {
  border-radius: 12px;
  background: #160404f2;
  width: 260px;
  height: 69px;
  flex-shrink: 0;
  color: #e8d191;
  font-size: 24px;
  margin-right: 10px;
  border: none;
}
.btnLogout:hover {
  transition: 400ms ease;
  background: #050101;
  margin-right: 10px;
}

.buttonSave {
  background: #160404f2;
  color: #e8d191;
  border-radius: 12px;
  width: 100px;
  font-size: 24px;
  border: none;
}

.buttonSave:hover {
  background: #050101;
}
