@font-face {
  font-family: "Nunito";
  src: url(../../../assets/fonts/Nunito/Nunito-VariableFont_wght.ttf);
}

.nav {
  font-family: "Nunito";
  font-size: 18px;
}

.nav-link {
  text-decoration: none !important;
  color: #e8d191 !important;
}

.nav-link.active {
  font-weight: 700;
}

.nav-underline .nav-link {
  padding-right: 0;
  padding-left: 0;
  border-bottom: 2px solid !important;
  transition: 200ms ease;
  transform: translateY(-10%);
}

.nav-underline .nav-link.active {
  border-bottom: 4px solid !important;
  border-radius: 1px;
  transform: translateY(0);
}



/* p {

  color: #e8d191;
  font-family: TAN - PEARL;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}  */

 .buttonEditUser{
  right: 20px;
  position: relative;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: inherit;
  overflow: hidden;  
  border: none;
  outline: none;
  color: #e8d191;
  font-size: 24px
}



.btnLogout {
border-radius: 12px;
background: rgba(22, 4, 4, 0.95);
width: 359px;
height: 69px;
flex-shrink: 0;
color: #E8D191;
font-size: 24px
}
.btnLogout:hover {
  transition: 400ms ease;
  background: #54000e;
} 
