body {
  background-color: #4D000D;
}
.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #160404;
    border-top: 1px solid #f3f3f3;
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    z-index: 1000;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%; 
    justify-content: space-around; 
  }
  
  .custom-li {
    flex: 1; 
    text-align: center; 
  }
  
  a {
    text-decoration: none;
}

/* Ajustes para hacer los íconos más grandes */
a svg {
    font-size: 50px;
    color: #4D000D;
  }
  