
form {
    border-radius: 40px !important;
    background: #160404f2 !important;
    padding: 1rem; 
    box-sizing: border-box;
    width: 800px;
  }
  
  h1 {
    color: #E8D191 !important;
  }
  
.form-center{
display:flex;
justify-content: center;
align-content: center;
}

