.imgRegister {
  background: url(../../assets/Copas.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.formsRegister {
  border-radius: 40px !important;
  background: #160404f2 !important;
  width: 500px;
  margin-top: 40px;
}
h1 {
  color: #e8d191 !important;
}

.logo {
  width: 150px;
}

.formsLogin {
  border-radius: 40px !important;
  background: #160404f2 !important;
  width: 500px;
  margin-top: 100px;
}

.eyePasword {
  position: relative;
  left: 150px;
  bottom: 120px;
}

@media screen and (max-width: 992px) {
  .logoRegister {
    width: 250px;
  }
}

@media screen and (max-width: 768px) {
  .formsRegister {
    width: 350px;
  }

}

@media screen and (max-width: 518px) {
  .formsRegister {
    width: 350px;
  }
}

@media screen and (max-width: 440px) {
  .formsRegister {
    width: 350px;
  }
}

@media screen and (max-width: 332px) {
  .formsRegister {
    width: 230px;
  }
}

@media screen and (max-width: 280px) {
  .formsRegister {
    width: 250px;
  }
}

@media screen and (max-width: 440px) {
  .formsLogin {
    width: 400px;
    padding: 20px;
  }

}
