* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "TAN-PEARL-Regular";
  color: #e8d191;
  background-color: #4d000d;
}

#root {
  display: flex !important;
  flex-direction: column;
  min-height: 100vh;
}

main {
  margin-top: 56px;
  margin-bottom: 25px;
  flex: 1 0 auto;
}

footer {
  background: #2e0008;
  flex-shrink: 0;
}

@font-face {
  font-family: "Nunito";
  src: url(./assets/fonts/Nunito/Nunito-VariableFont_wght.ttf);
}


 @font-face {
    font-family: 'TAN-PEARL-Regular';
    src: url(./assets/fonts/TAN-PEARL-Regular.otf);
  } 
  

  body {
    font-family: 'TAN-PEARL-Regular';
    color: #E8D191;
    background-color: #4D000D;
  }

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #160404;
  border-top: 1px solid #f3f3f3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
}
