.products-table {
  height: 600px;
  overflow: hidden;
  overflow-y: scroll;
}

.products-table::-webkit-scrollbar {
  width: 7px;
  background: transparent;
}

.products-table::-webkit-scrollbar-thumb {
  color: #000000;
}